# DS-SF-23 | Lab 02 - Introduction to `pandas`

(Source: [Computing for Data Analysis](https://www.coursera.org/course/compdata))

In [1]:
import os
import pandas as pd

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 1.  Display the dataset's head

head = first 10 lines

In [4]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 2.  Print the column names of the dataset to the screen, one column name per line

In [12]:
df.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

In [13]:
df[-1:1]

Empty DataFrame
Columns: [Ozone, Solar.R, Wind, Temp, Month, Day]
Index: []

> ## Question 3.  Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [8]:
df[:3]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3

> ## Question 4.  How many observations (i.e., rows) are in this data frame?

In [9]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
5     28.0      NaN  14.9    66      5    6
6     23.0    299.0   8.6    65      5    7
7     19.0     99.0  13.8    59      5    8
8      8.0     19.0  20.1    61      5    9
9      NaN    194.0   8.6    69      5   10
10     7.0      NaN   6.9    74      5   11
11    16.0    256.0   9.7    69      5   12
12    11.0    290.0   9.2    66      5   13
13    14.0    274.0  10.9    68      5   14
14    18.0     65.0  13.2    58      5   15
15    14.0    334.0  11.5    64      5   16
16    34.0    307.0  12.0    66      5   17
17     6.0     78.0  18.4    57      5   18
18    30.0    322.0  11.5    68      5   19
19    11.0     44.0   9.7    62      5   20
20     1.0      8.0   9.7    59      5   21
21    11.0    320.0  16.6    73      5   22
22     4.0     25.0   9.7    61      5   23
23    32.0     92.0  12.0    61      5   24
24     NaN     66.0  16.6    57      5   25
25     NaN    266.0  14.9    58      5   26
26     NaN      NaN   8.0    57      5   27
27    23.0     13.0  12.0    67      5   28
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
..     ...      ...   ...   ...    ...  ...
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

> ## Question 5.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [20]:
df[151:153]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 6. What is the value of Ozone in the 47th row?

In [22]:
df.loc[47]

Ozone       37.0
Solar.R    284.0
Wind        20.7
Temp        72.0
Month        6.0
Day         17.0
Name: 47, dtype: float64

In [23]:
df.at[47, 'Ozone']

37.0

> ## Question 7. How many missing values are in the Ozone column of this data frame?

use len function to count how many are missing

In [38]:
len(pd.isnull(df['Ozone']))

153

In [36]:
df[df['Ozone'].isnull()]

     Ozone  Solar.R  Wind  Temp  Month  Day
4      NaN      NaN  14.3    56      5    5
9      NaN    194.0   8.6    69      5   10
24     NaN     66.0  16.6    57      5   25
25     NaN    266.0  14.9    58      5   26
26     NaN      NaN   8.0    57      5   27
31     NaN    286.0   8.6    78      6    1
32     NaN    287.0   9.7    74      6    2
33     NaN    242.0  16.1    67      6    3
34     NaN    186.0   9.2    84      6    4
35     NaN    220.0   8.6    85      6    5
36     NaN    264.0  14.3    79      6    6
38     NaN    273.0   6.9    87      6    8
41     NaN    259.0  10.9    93      6   11
42     NaN    250.0   9.2    92      6   12
44     NaN    332.0  13.8    80      6   14
45     NaN    322.0  11.5    79      6   15
51     NaN    150.0   6.3    77      6   21
52     NaN     59.0   1.7    76      6   22
53     NaN     91.0   4.6    76      6   23
54     NaN    250.0   6.3    76      6   24
55     NaN    135.0   8.0    75      6   25
56     NaN    127.0   8.0    78      6   26
57     NaN     47.0  10.3    73      6   27
58     NaN     98.0  11.5    80      6   28
59     NaN     31.0  14.9    77      6   29
60     NaN    138.0   8.0    83      6   30
64     NaN    101.0  10.9    84      7    4
71     NaN    139.0   8.6    82      7   11
74     NaN    291.0  14.9    91      7   14
82     NaN    258.0   9.7    81      7   22
83     NaN    295.0  11.5    82      7   23
101    NaN    222.0   8.6    92      8   10
102    NaN    137.0  11.5    86      8   11
106    NaN     64.0  11.5    79      8   15
114    NaN    255.0  12.6    75      8   23
118    NaN    153.0   5.7    88      8   27
149    NaN    145.0  13.2    77      9   27

> ## Question 8. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

df.mean

In [45]:
df['Ozone'].mean()

42.12931034482759

In [69]:
df[['Ozone']].mean()

Ozone    42.12931
dtype: float64

In [70]:
df.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

> ## Question 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

In [51]:
df[ (df.Ozone > 31) & (df.Temp > 90) ]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

In [57]:
df[ (df.Ozone > 31) & (df.Temp > 90) ].mean()

Ozone       89.5
Solar.R    212.8
Wind         5.6
Temp        93.4
Month        8.2
Day         14.5
dtype: float64

In [61]:
df['Solar.R'][ (df.Ozone > 31) & (df.Temp > 90) ].mean()

212.8

> ## Question 10. What is the mean of Temp when Month is equal to 6?

In [62]:
df['Temp'][ (df.Month ==6) ].mean()

79.1

> ## Question 11. What was the maximum Ozone value in the month of May?

In [63]:
df['Ozone'][ (df.Month ==5) ].max()

115.0

In [68]:
df[df.Month == 5]

    Ozone  Solar.R  Wind  Temp  Month  Day
0    41.0    190.0   7.4    67      5    1
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
3    18.0    313.0  11.5    62      5    4
4     NaN      NaN  14.3    56      5    5
5    28.0      NaN  14.9    66      5    6
6    23.0    299.0   8.6    65      5    7
7    19.0     99.0  13.8    59      5    8
8     8.0     19.0  20.1    61      5    9
9     NaN    194.0   8.6    69      5   10
10    7.0      NaN   6.9    74      5   11
11   16.0    256.0   9.7    69      5   12
12   11.0    290.0   9.2    66      5   13
13   14.0    274.0  10.9    68      5   14
14   18.0     65.0  13.2    58      5   15
15   14.0    334.0  11.5    64      5   16
16   34.0    307.0  12.0    66      5   17
17    6.0     78.0  18.4    57      5   18
18   30.0    322.0  11.5    68      5   19
19   11.0     44.0   9.7    62      5   20
20    1.0      8.0   9.7    59      5   21
21   11.0    320.0  16.6    73      5   22
22    4.0     25.0   9.7    61      5   23
23   32.0     92.0  12.0    61      5   24
24    NaN     66.0  16.6    57      5   25
25    NaN    266.0  14.9    58      5   26
26    NaN      NaN   8.0    57      5   27
27   23.0     13.0  12.0    67      5   28
28   45.0    252.0  14.9    81      5   29
29  115.0    223.0   5.7    79      5   30
30   37.0    279.0   7.4    76      5   31